body {
	display: block;
	height: 100%;
	text-align: center;
}
input[type="button"] {
	position: relative;
	top: 45%;
	margin-top: 0px;
	border: none;
	background-color: transparent;
	outline:none;
	display: inline-block;
	width: 300px;
	height: 130px;
}
.relay_on {
	background-image: url('sprite.png');
	background-position: 0px 0px;
}
.relay_off {
	background-image: url('sprite.png');
	background-position: -300px 0px;
}
